@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="pricing" class="pricing">

    <div class="container" data-aos="fade-up">

        <header class="section-header">
            <h2>Returned</h2>
            <p>Stories Of People who returned through us</p>
        </header>

        <div class="row gy-4" data-aos="fade-left">

            <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
                <div class="box">
                    <h3 style="color: forestgreen;">Hager Hani</h3>
                    <img src="~/Content/Image/Hager.jpg" class="img-circle" height="190" width="190" alt="Avatar">
                    <ul>
                        <li>It came back when someone reported it here on the site and some people recognized it and accessed it</li>

                    </ul>
                    <a href="#" class="btn-buy">Show The Hole Story</a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
                <div class="box">
                    <h3 style="color: #07d5c0;">Mariam Ahmed</h3>
                    <img src="~/Content/Image/Mariam.jpg" class="img-circle" height="190" width="190" alt="Avatar">
                    <ul>
                        <li>It came back when someone reported it here on the site and some people recognized it and accessed it</li>

                    </ul>
                    <a href="#" class="btn-buy">Show The Hole Story</a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
                <div class="box">
                    <h3 style="        color: #65c600;">Aranza Dany</h3>
                    <img src="~/Content/Image/Aranza.png" class="img-circle" height="190" width="190" alt="Avatar">
                    <ul>
                        <li>It came back when someone reported it here on the site and some people recognized it and accessed it</li>

                    </ul>
                    <a href="#" class="btn-buy">Show The Hole Story</a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
                <div class="box">
                    <h3 style="color:orangered;">Ahmed Samy</h3>
                    <img src="~/Content/Image/Ahmed.jpg" class="img-circle" height="190" width="190" alt="Avatar">
                    <ul>
                        <li>It came back when someone reported it here on the site and some people recognized it and accessed it</li>

                    </ul>
                    <a href="#" class="btn-buy">Show The Hole Story</a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="400">
                <div class="box">
                    <h3 style="color: #07d5c0;">Abby Don</h3>
                    <img src="~/Content/Image/Abby.png" class="img-circle" height="190" width="190" alt="Avatar">
                    <ul>
                        <li>It came back when someone reported it here on the site and some people recognized it and accessed it</li>

                    </ul>
                    <a href="#" class="btn-buy">Show The Hole Story</a>
                </div>
            </div>

        </div>

    </div>

</section>
