
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/Site.css" />
<br />

<section id="recent-blog-posts" class="recent-blog-posts">

    <div class="container" data-aos="fade-up">

        <header class="section-header">
            <h2>Awareness</h2>
            <p>Topics people are talking about lately</p>
        </header>

        <div class="row">

            <div class="col-lg-4">
                <div class="post-box">
                    <div class="post-img"><img src="~/Content/Image/Protect.jpg" class="img-fluid" alt=""></div>
                    <span class="post-date">Tue, September 15</span>
                    <h3 class="post-title">Protect your child</h3>
                    <h5 class="text-danger">
                        Simple information that you must tell your childern
                        In order to protect it from the risk of losing it and losing it anywhere
                    </h5>
                    <h6> are the following:</h6>
                    <p>
                        1- His triple name.
                    </p>
                    <p>  2- The phone number of the father or mother.</p>
                    <p>  3- Your home address in detail.</p>
                    <p>  4- The real names of his brothers.</p>
                    <p> 5- The names of the maternal uncle, aunt, uncles, grandfather and grandmother.</p>
                    <p>  6- Residential area (Heliopolis, Shubra, Nasr City).</p>

                    <p>  7- Governorate.</p>


                    <p>
                        8- Putting the child’s name and family phone number in the child’s clothes (a sticker on the shirt or trousers from the inside), in case you go out to crowded places
                    </p>

                    <a href="blog-singe.html" class="readmore stretched-link mt-auto"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="post-box">
                    <div class="post-img"><img src="~/Content/Image/specialcases.jpg" class="img-fluid" alt=""></div>
                    <span class="post-date">Fri, August 28</span>
                    <h3 class="post-title">In the case of children with special cases,</h3>
                    <h5 class="text-danger">the following must be done:</h5>
                    <p>  1- Save the name three times</p>

                    <p> 2- The mother's real name</p>

                    <p>3- The name of a relative</p>

                    <p> 4- Place of residence</p>

                    <p>5- Governorate</p>

                    <p> 6- The child’s name and the governorate of residence are tattooed in an inconspicuous place on the shoulder or arm in the governorates of Upper Egypt</p>

                    <p>    7- Tracking devices in case of excessive activity. - Introducing the child to the nearby streets for all the possibilities that the child will get used to going to (around the school, the residential area, the area of ​​relatives); So that he can return if he leaves without the knowledge of his family</p>

                    <a href="blog-singe.html" class="readmore stretched-link mt-auto"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="post-box">
                    <div class="post-img"><img src="~/Content/Image/self-defense.jpg" class="img-fluid" alt=""></div>
                    <span class="post-date">Mon, July 11</span>
                    <h3 class="post-title">Self Defense</h3>
                    <h5 class="text-danger">the defence of one's person or interests, especially through the use of physical force, which is permitted in certain cases as an answer to a charge of violent crime.</h5>
                    <p>Physical self-defense is the use of physical force to counter an immediate threat of violence. Such force can be either armed or unarmed. In either case, the chances of success depend on various parameters, related to the severity of the threat on one hand, but also on the mental and physical preparedness of the defender.</p>
                    <a href="blog-singe.html" class="readmore stretched-link mt-auto"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
                </div>
            </div>

        </div>

    </div>

</section>


